In [1]:
# Declare Dependencies
import pandas as pd
from bs4 import BeautifulSoup
import requests
from splinter import Browser

### Step 1 - Scraping from NASA Mars News

In [2]:
# Windows Users Chromedriver.exe setup
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [3]:
# Define URL to scrape and inform the browser to visit the page
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [4]:
# HTML Object
html = browser.html

In [5]:
# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html, 'html.parser')

#soup.prettify()

In [6]:
# Using Beautiful Soup, we can find News Title and Paragraph Content. results = soup.find_all("div", class_="slide")

news_title = soup.find('div', class_='content_title').text
news_p = soup.find('div', class_='rollover_description_inner').text

print(news_title)
print(news_p)

Mars Now
A mission to investigate key questions about potential life on Mars.

### JPL Mars Space Images - Featured Image

In [7]:
# Windows Users Chromedriver.exe setup
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

In [8]:
image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(image_url)

In [9]:
# HTML Object 
html_image = browser.html

# Parse HTML with Beautiful Soup
soup = BeautifulSoup(html_image, 'html.parser')
# soup.prettify()

In [10]:
# Retrieve background image

results = soup.find("ul", class_="articles")
results.prettify()

href = results.find("a",class_='fancybox')
href.prettify()

'<a class="fancybox" data-description="This image from NASAs Mars Odyssey shows part of the floor of Ganges Chasma. Deposits of fine surface materials and bright layered deposits are visible in this image." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/largesize/PIA24156_hires.jpg" data-link="/spaceimages/details.php?id=PIA24156" data-thumbnail="/spaceimages/images/wallpaper/PIA24156-640x350.jpg" data-title="Ganges Chasma">\n <div class="image_and_description_container">\n  <div class="rollover_description">\n   <h3 class="release_date">\n    October 19, 2020\n   </h3>\n   <div class="item_tease_overlay">\n    Ganges Chasma\n   </div>\n   <div class="overlay_arrow">\n    <img alt="more arrow" src="/assets/images/overlay-arrow.png"/>\n   </div>\n  </div>\n  <div class="img">\n   <img alt="Ganges Chasma" class="thumb" src="/spaceimages/images/wallpaper/PIA24156-640x350.jpg" title="Ganges Chasma"/>\n  </div>\n  <div class="list_text_content">\n   <div class="article_teaser_body">\n    October 19, 2020\n   </div>\n   <div class="content_title">\n    Ganges Chasma\n   </div>\n   <div class="article_teaser_body">\n    This image from NASAs Mars Odyssey shows part of the floor of Ganges Chasma. Deposits of fine surface materials and bright layered deposits are visible in this image.\n   </div>\n  </div>\n </div>\n</a>\n'

In [11]:
href = results.find("a",class_='fancybox')['data-fancybox-href']

In [12]:
# Create website url with scrapped route
featured_image_url = 'https://www.jpl.nasa.gov' + href

# Display full link to featured image
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA24156_hires.jpg'

### Mars Facts

In [26]:
# Mars Facts URL
mars_facts_url = 'http://space-facts.com/mars/'

In [27]:
# Read html and parse
mars_facts = pd.read_html(mars_facts_url)

In [28]:
# Find mars facts dataframe in list of dataframe
mars_facts_dataframe = mars_facts[0]
mars_facts_dataframe

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [29]:
# Assign Column names and set index. Display final datframe

mars_facts_dataframe.columns = ["Description", "Measurement"]
mars_facts_dataframe = mars_facts_dataframe.set_index("Description")
mars_facts_dataframe

                                        Measurement
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [24]:
# Save html code
mars_facts_dataframe.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Measurement</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'